section.repository-list {
  margin: -120px auto 40px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.1);
  border: 2px solid #f1f1f1;

  h2 {
    margin: 20px 0 65px 0;
    color: rgb(34, 34, 34);
    font-size:25px;
  }

  ul {
    list-style: none;
    text-align: center;
    width: 70%;
  }

  li {
    border-bottom: 2px solid #dadada;
    padding: 10px 0;
    width: 100%;
    color: rgb(19, 19, 19);

    & + li {
      margin-top: 50px;
    }

    &:last-child {
      margin-bottom: 20px;
      border: none;
    }
  }

  strong {
    font-size: 18px;
  }

  p {
    font-size: 14px;
    margin-top: 8px;
    color: #4d4d4d;
  }

  a {
    display: inline-block;
    margin-top: 18px;
    color: #8257e6;
    text-decoration: none;
  }

  a:hover {
    color: #6c40d3;
  }
}
